numpy
pandas
scipy

scikit-learn
xgboost
lightgbm
catboost

torch
torchvision
pytorch-lightning
torchmetrics

transformers
datasets
evaluate
spacy
nltk
gensim
fasttext

opencv-python
Pillow
scikit-image

matplotlib
seaborn
plotly
autoviz

joblib
tqdm
tensorboard

tensorflow
keras
jax
flax
optax

ydata-profiling

jupyterlab